.etchasketch {
    font-family: 'Bree Serif', sans-serif;
    font-size: 60px;
    color: rgb(122, 60, 36);
    text-align: center;
}

.row {
    display: flex;
}

.square {
    width: 10px;
    height: 10px;
    background-color: rgb(0, 0, 0);
    flex-wrap: wrap;
}

